* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root details */
:root {
  --primary-color: hsl(25, 97%, 53%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-blue: hsl(213, 19%, 18%);
  --neutral-dark-blue: hsl(216, 12%, 8%);

  --fs-main: 15px;
  --ff-main: "Overpass", serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  background-color: var(--neutral-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

